@import "../../lib/css/tailwindu.css";
@import 'f7_override.scss';

@font-face {
  font-family: 'Framework7 Icons';
  font-style: normal;
  font-weight: 400;
  src: url("../../../lib/fonts/Framework7Icons-Regular.eot");
  src: local('Framework7 Icons'),
  local('Framework7Icons-Regular'),
  url("../../lib/fonts/Framework7Icons-Regular.woff2") format("woff2"),
  url("../../../lib/fonts/Framework7Icons-Regular.woff") format("woff"),
  url("../../../lib/fonts/Framework7Icons-Regular.ttf") format("truetype");
}

.f7-icons, .framework7-icons {
  font-family: 'Framework7 Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 25px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  font-feature-settings: "liga";
}

/* latin-ext */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Sans'), local('JosefinSans'), url('../../lib/fonts/JosefinSans-Regular.ttf');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Sans'), local('JosefinSans'), url('../../lib/fonts/JosefinSans-Regular.ttf') ;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body, .ios body, .md body {
  font-family: Josefin Sans, sans-serif;
  font-size: 12pt;
}

img {
  max-width: 100%
}

img.band:after {
  content: "";
  display: block;
  position: absolute;
  width: 43px;
  height: 43px;
  background-size: cover;
  text-align: center;
  color: rgb(100, 100, 100);
  background-image: url("../../img/band_noimg.png");
  background-color: white;
}

.text_center * {
  justify-content: center !important;
}

.text-bold {
  font-weight: bold
}

.text_center {
  text-align: center;
}

.badge.gain {
  background-color: green
}

div.page {
  position: inherit;
}

.list-block {
  margin-top: 8px;
}

.content-block-title {
  margin-top: 8px
}

.ios .block {
  padding: 0 9px;
}

.list .item-inner {
  font-size: .8rem;
}

.md .media-list .item-link .row, .md li.media-item .item-link .row {
  padding-right: 26px;
}

.ios .media-list .item-link .row, .ios li.media-item .item-link .row {
  padding-right: 20px;
}

.w50 {
  width: 50%
}

.w100, .full-width {
  width: 100%;
}

.padded {
  padding: 5px;
}

#filters {
  z-index: 101;
  position: absolute;
  left: 0;
  right: 0; //this makes width 100%
  top: 105px;
  padding-top: 10px;
  background-color: white;

  & > * {
    width: 100%;
  }
}

.selectize-control {
  min-width: 6rem
}

.selectize-control.multi .selectize-input.has-items {
  padding-right: 8px
}

.selectize-input {
  border: none
}

.date-picker-wrapper {
  z-index: 2000;
  left: 0 !important
}

.font-italic {
  font-style: italic
}

.item-title, .name {
  text-transform: capitalize
}

.title_case {
  text-transform: capitalize
}

@mixin title_case {
  text-transform: capitalize
}

#current_page_title {
  @include title_case
}

div.block-title {
  text-transform: uppercase
}

.pull-right {
  float: right
}

.disabled {
  cursor: not-allowed;
  color: lightgray;
}

div.date_block {
  width: 50pt;
  cursor: pointer;

  & .db_daynum {
    line-height: 28pt;
    font-size: 28pt;
    color: blue;
    text-align: right;
  }

  & .db_daymonth {
    font-size: 75%;
    padding-left: 3px;
  }
}

.quickselects {
  a {
    font-size: 60%
  }
}
.list .item-title{font-size: 120%}
/*
google maps
 */
.pac-container{z-index: 1100}
