// eslint-disable-next-line no-unused-vars
/**
 * Local Settings for mobile app.
 */
export default {
  api: 'https://api.livenout.usvsolutions.com/v1/',
  default_today_parms: {source: 'reverb'}//will be used in Today.jsx rest
}
